@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --primary-bg: white;
    --primary-fg: #F5F6FA;
}

body {
    color: #393939;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .primary-fg {
        background-color: var(--primary-fg);
    }
}

.stars {
    margin: auto;
}
